germalemma==0.1.3
SoMaJo==2.0.1
SoMeWeTa==1.7.1
spacy==2.2.3
lxml==4.4.2
pandas==0.25.3
treetaggerwrapper==2.3
flair==0.4.5
syntok==1.2.2
python-igraph==0.7.1.post6
syntok==1.2.2
progress==1.5.0
git+https://github.com/DuyguA/DEMorphy.git
torch==1.4.0
torchvision==0.5.0
pexpect==4.7.0
